.form-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  &:last-child {
    margin-bottom: 50px;
  }
  &.form-checkbox-item {
    flex-direction: row;
    align-items: flex-end;
    .form-title {
      margin: 0;
      margin-right: 10px;
    }
  }
}

.form-title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 10px;
  user-select: none;
}

.form-input {
  font-size: 22px;
  border-radius: 10px;
  padding: 5px 10px;
  outline: none;
}

.form-checkbox {
  width: 20px;
  height: 20px;
}

.form-submit {
  margin: 0 auto;
  font-size: 28px;
  width: 100%;
  padding: 15px 0;
  background: $black;
  color: $white;
  border: none;
  border-radius: 10px;;
}